project:
  type: website
  output-dir: "docs"

website:
  title: "web-scraping-crash-course"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: flatly

